html{
scroll-behavior:smooth;
}
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
background:#111827;
}

.logo{
font-size:28px;
font-weight:bold;
color:#ef4444;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav a{
text-decoration:none;
color:white;
}

.login-btn{
background:#ef4444;
border:none;
padding:12px 25px;
color:white;
border-radius:10px;
cursor:pointer;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:100px 8%;
min-height:80vh;
}

.hero-content{
width:55%;
}

.hero-content h1{
font-size:60px;
margin-bottom:20px;
}

.hero-content p{
font-size:20px;
line-height:1.7;
color:#cbd5e1;
}

.hero-buttons{
margin-top:30px;
}

.primary-btn{
background:#ef4444;
padding:15px 30px;
border:none;
color:white;
border-radius:10px;
margin-right:15px;
cursor:pointer;
}

.secondary-btn{
background:transparent;
border:2px solid #ef4444;
padding:15px 30px;
color:white;
border-radius:10px;
cursor:pointer;
}

.hero-card{
background:#1e293b;
padding:40px;
border-radius:20px;
text-align:center;
width:300px;
}

.score{
font-size:70px;
font-weight:bold;
color:#ef4444;
display:flex;
justify-content:center;
align-items:center;
}

.stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:60px 8%;
}

.stat-card{
background:#1e293b;
padding:30px;
text-align:center;
border-radius:20px;
}

.stat-card h2{
color:#ef4444;
font-size:40px;
}

.features{
padding:80px 8%;
text-align:center;
}

.features h2{
font-size:40px;
margin-bottom:40px;
}

.feature-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}

.feature-card{
background:#1e293b;
padding:30px;
border-radius:20px;
}

.feature-card i{
font-size:40px;
color:#ef4444;
margin-bottom:20px;
}

.workflow{
padding:80px 8%;
text-align:center;
}

.workflow h2{
margin-bottom:40px;
font-size:40px;
}

.workflow-grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:20px;
}

.workflow-step{
background:#1e293b;
padding:30px;
border-radius:20px;
font-size:30px;
font-weight:bold;
color:#ef4444;
}

.workflow-step p{
margin-top:10px;
font-size:16px;
color:white;
}

footer{
background:#111827;
padding:40px;
text-align:center;
margin-top:50px;
}
.stat-card{
background:#1e293b;
padding:30px;
border-radius:20px;
text-align:center;
}

.stat-card h2{
color:#ef4444;
font-size:35px;
margin-bottom:10px;
}
.subtitle{
    color:#94a3b8;
    margin-bottom:25px;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:250px;
    height:100vh;
    background:#111827;
    padding:20px;
}

.sidebar h2{
    color:#ef4444;
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    margin-bottom:10px;
    border-radius:10px;
}

.sidebar a:hover{
    background:#ef4444;
}

.main{
    margin-left:270px;
    padding:30px;
}
.form-card{
background:#1e293b;
padding:30px;
border-radius:20px;
max-width:1000px;
}

#studentForm{

display:grid;

grid-template-columns:
1fr 1fr;

gap:20px;
}

#studentForm label{
display:block;
margin-bottom:5px;
font-weight:600;
}

#studentForm input,
#studentForm select{

width:100%;

padding:12px;

border:none;

border-radius:10px;

background:#334155;

color:white;
}

#studentForm button{

grid-column:1 / 3;

background:#ef4444;

padding:15px;

border:none;

border-radius:10px;

font-size:16px;

color:white;

cursor:pointer;
}
.table-section{

margin-top:40px;

background:#1e293b;

padding:20px;

border-radius:20px;
}

table{

width:100%;

border-collapse:collapse;
}

th{

background:#ef4444;

padding:15px;

text-align:left;
}

td{

padding:15px;

border-bottom:1px solid #334155;
}

tr:hover{

background:#293548;
}.danger-btn{
background:#dc2626;
color:white;
border:none;
padding:12px 20px;
border-radius:10px;
cursor:pointer;
margin-bottom:20px;
}

.edit-btn{
background:#2563eb;
color:white;
border:none;
padding:8px 12px;
border-radius:8px;
cursor:pointer;
margin-right:5px;
}

.delete-btn{
background:#dc2626;
color:white;
border:none;
padding:8px 12px;
border-radius:8px;
cursor:pointer;
}
.about{
padding:80px 8%;
text-align:center;
}

.about h2{
font-size:40px;
margin-bottom:20px;
}

.about p{
max-width:800px;
margin:auto;
line-height:1.8;
color:#cbd5e1;
}
.login-container{

width:400px;

margin:100px auto;

background:#1e293b;

padding:30px;

border-radius:20px;

text-align:center;
}

.login-container h1{
color:#ef4444;
margin-bottom:20px;
}

.login-container input,
.login-container select{

width:100%;

padding:12px;

margin-top:10px;

margin-bottom:15px;

border:none;

border-radius:10px;

background:#334155;

color:white;
}

.login-container button{

width:100%;

padding:15px;

background:#ef4444;

color:white;

border:none;

border-radius:10px;

cursor:pointer;
}
.team-card{

background:#1e293b;

padding:25px;

border-radius:20px;

margin-bottom:20px;

box-shadow:
0 10px 20px rgba(0,0,0,.3);

}

.team-card h2{

color:#ef4444;

margin-bottom:15px;

}

.team-card p{

margin-bottom:15px;

}

.team-card ul{

padding-left:20px;

}

.team-card li{

margin-bottom:8px;

}

.subtitle{

color:#94a3b8;

margin-bottom:20px;

}
.login-container{

width:400px;

margin:100px auto;

background:#1e293b;

padding:30px;

border-radius:20px;

text-align:center;

}

.login-container h1{

color:#ef4444;

margin-bottom:20px;

}

.login-container input,
.login-container select{

width:100%;

padding:12px;

margin-top:10px;

margin-bottom:15px;

border:none;

border-radius:10px;

background:#334155;

color:white;

}

.login-container button{

width:100%;

padding:15px;

background:#ef4444;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}
.conflict-card{

background:#7f1d1d;

padding:25px;

border-radius:20px;

margin-bottom:20px;

}

.success-card{

background:#14532d;

padding:25px;

border-radius:20px;

margin-bottom:20px;

}

.conflict-card h2,
.success-card h2{

margin-bottom:10px;

}

.conflict-card ul{

padding-left:20px;

}

.conflict-card li{

margin-bottom:8px;

}
.edit-btn{

background:#2563eb;

color:white;

border:none;

padding:8px 12px;

border-radius:8px;

cursor:pointer;

margin-right:5px;

}

.delete-btn{

background:#dc2626;

color:white;

border:none;

padding:8px 12px;

border-radius:8px;

cursor:pointer;

}
.approve-btn{

background:#16a34a;

color:white;

border:none;

padding:10px 15px;

border-radius:10px;

cursor:pointer;

margin-right:10px;

margin-top:10px;

}

.publish-btn{

background:#2563eb;

color:white;

border:none;

padding:10px 15px;

border-radius:10px;

cursor:pointer;

margin-top:10px;

}
.form-group{

display:flex;

flex-direction:column;

}

.form-group label{

margin-bottom:8px;

font-weight:600;

}
#studentForm{

display:grid;

grid-template-columns:
1fr 1fr;

gap:20px;

}
.logo{
font-size:28px;
font-weight:bold;
color:#ef4444;
text-decoration:none;
transition:0.3s;
}

.logo:hover{
transform:scale(1.05);
}

.login-btn,
.primary-btn,
.secondary-btn,
.edit-btn,
.delete-btn,
.approve-btn,
.publish-btn{
transition:all 0.3s ease;
}

.login-btn:hover,
.primary-btn:hover,
.approve-btn:hover,
.publish-btn:hover{
transform:translateY(-3px);
box-shadow:0 10px 20px rgba(239,68,68,0.3);
}

.secondary-btn:hover{
transform:translateY(-3px);
background:#ef4444;
}

.feature-card,
.stat-card,
.team-card,
.form-card,
.hero-card{
transition:all 0.3s ease;
}

.feature-card:hover,
.stat-card:hover,
.team-card:hover,
.hero-card:hover{
transform:translateY(-8px);
box-shadow:0 15px 30px rgba(0,0,0,0.4);
}

.sidebar a{
transition:0.3s;
}

table tr{
transition:0.3s;
}

.hero{
gap:80px;
}

.hero-content{
flex:1;
}

.hero-card{
width:320px;
min-width:320px;
}
.sidebar-logo{

display:block;

font-size:32px;

font-weight:bold;

color:#ef4444;

text-decoration:none;

margin-bottom:30px;

}